@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font: 1em Arial, "맑은 고딕", 돋움, Doctum, sans-serif;
}
#wrap {
  width: 640px;
  height: 400px;
  margin: 0 auto;
  background: #e3e3e3;
  text-align: center;
}
#bigim {
  width: 600px;
  margin: 0 auto;
}
#bigim > img {
  width: 600px;
  height: 300px;
  object-fit: cover;
}
.gallery a {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #000;
}
.gallery a:hover {
  background: #f00;
}
.gallery a.on {
  background: orange;
}
